# Resume Classification

## Importing Libraries

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Data Collection

In [11]:
df= pd.read_csv('C:/Users/kumar/OneDrive/Desktop/Machine Learning Project/datasets/resume classification.csv')
df.shape

(200, 10)

In [12]:
df.head()

,candidate_id,degree,years_experience,projects_count,certifications,skills_count,internship,github_portfolio,resume_score,interview_calls
0,C001,BTech,0,11,2,11,Yes,Yes,89,6
1,C002,BTech,8,1,4,17,Yes,Yes,100,6
2,C003,BSc,3,8,4,4,Yes,No,89,4
3,C004,MCA,4,12,6,4,Yes,No,100,7
4,C005,MTech,2,3,6,14,Yes,Yes,96,6

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   candidate_id      200 non-null    object
 1   degree            200 non-null    object
 2   years_experience  200 non-null    int64
 3   projects_count    200 non-null    int64
 4   certifications    200 non-null    int64
 5   skills_count      200 non-null    int64
 6   internship        200 non-null    object
 7   github_portfolio  200 non-null    object
 8   resume_score      200 non-null    int64
 9   interview_calls   200 non-null    int64
dtypes: int64(6), object(4)
memory usage: 15.8+ KB

In [14]:
df.describe()

,years_experience,projects_count,certifications,skills_count,resume_score,interview_calls
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,4.120000,6.140000,2.940000,11.380000,90.565000,5.795000
std,2.677958,3.571298,1.963588,4.794846,10.733209,1.611197
min,0.000000,0.000000,0.000000,4.000000,54.000000,0.000000
25%,2.000000,3.000000,1.000000,7.000000,84.000000,5.000000
50%,4.000000,6.000000,3.000000,11.000000,94.000000,6.000000
75%,6.000000,9.000000,5.000000,15.000000,100.000000,7.000000
max,8.000000,12.000000,6.000000,20.000000,100.000000,8.000000

## Data Preprocessing

## Training Model

## Evaluation

Thanks!