# Fake News Detection

## Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Data Collection

In [ ]:
df=pd.read_csv('C:/Users/kumar/OneDrive/Desktop/Machine Learning Project/datasets/fake news.csv')
df.shape

(12520, 2)

In [3]:
df.head()

                                                text  label
0  sing praise mahinda lose voice sri lanka disro...      1
1   kojc rally first time davao city appoint son god      1
2  bill gate people resist mrna tsunami exclude s...      1
3  cure covid19 forward budesonide asthma drug pl...      1
4  president trump form patriot party 81 day elec...      1

In [4]:
df.shape

(12520, 2)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12520 entries, 0 to 12519
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    12520 non-null  object
 1   label   12520 non-null  int64
dtypes: int64(1), object(1)
memory usage: 195.8+ KB

In [6]:
df.describe()

              label
count  12520.000000
mean       0.558786
std        0.496552
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000

## Data Preprocessing

## Training Model

## Evaluation

Thanks!